<h2>Where's the Bus?</h2>

<div>
	<p>
		This app lets you know if you if there is a bus making its next stop at the MARTA station you are currently located at.
	</p>
	<p>
		Follow the links above to choose your station via Radio Buttons or Drop-Down Menu.
	</p>
	<p>
		To developers: note that the drop-down menu method needed the use of two databases. Here's how it works:<br />
		You, the developer, must, unfortunately, populate a database with all the MARTA stations (though there is an array of them in the 'welcome#radioselect' action). Kind of a pain. Another down-side of this method is that the user is creating a new instance of a Selection each time they go through the process. Kinda just a waste of database space - but this was the best solution I could find.
	</p>
	<p>
		To any non-ATL TTSers: sorry we could not customize this app for your town. Your public transit systems do not have the same API available. Please try to look past the possibly-unfamiliar place-names and see what the code is doing.
	</p>
</div>
