<h2>Where's the Bus?</h2>

<div>
	<p>This app lets you know if you if there is a bus making its next stop at the MARTA station you are currently located at.</p>
	<p>Follow the links above to choose your station via Radio Buttons or Drop-Down Menu.</p>
	<p>At the moment, only Radio Button choice works. The drop-down choice is a bit trickier, and it may require a set of databases (at least one); so I'm trying to figure out the best way to do that.</p>
</div>
